<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Cuenta del cliente</title>
<link rel="stylesheet" href="general.css">
</head>
<body>
	<div class="contenido">
		<h2>Esta es tu Cuenta Id: <span th:text="${session.cuentas.idCuenta}"></span></h2>
		<ul>
			<a th:href="@{/Ingresar}"><li>Ingresar</li></a>
			<a th:href="@{/Extraer}"><li>Extraer</li></a>
			<a th:href="@{/Movimientos}"><li>Ver Movimientos</li></a>
			<a th:href="@{/Transferencia}"><li>Transferencia</li></a>
			<a th:href="@{/logout}"><li>Cerrar Session</li></a>
		</ul>
		<h2 th:text="${mensajeIngreso}" class="Correcto"></h2>
		<h2 th:text="${mensajeIngresoFallo}" class="Error"></h2>
	</div>
</body>
</html>